/* ------ Colors ------ */

//Gray scale
$white: #fff;
$gray-100: #f8f8f8;
$gray-200: #f3f3f3;
$gray-300: #dddddd;
$gray-400: #aaaaaa;
$gray-500: #3c3a3d;
$gray-800: #333333;
$black: #000;

//Blue colors
$blue-100: #daebff;
$blue-300: #82b4fe;
$blue-500: #6b89f2;
$blue-700: #3a6ff8;

//Other colors
$green: #6ec660;
$red: #ff5c5c;
$yellow: #fddb62;

//Colors map
$colors: (
  "white": $white,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-800": $gray-800,
  "black": $black,
  "blue-100": $blue-100,
  "blue-300": $blue-300,
  "blue-500": $blue-500,
  "blue-700": $blue-700,
  "green": $green,
  "red": $red,
  "yellow": $yellow,
);

/* ------ Fonts ------ */

//Font Family
$font-family-poppins: "Poppins";
$font-family-sans-serif: "sans-serif";

//Font Size
$font-size-base: 1rem;
$font-size-h1: $font-size-base * 2.5;
$font-size-h2: $font-size-base * 2;
$font-size-h3: $font-size-base * 1.75;
$font-size-h4: $font-size-base * 1.5;
$font-size-h5: $font-size-base * 1.25;
$font-size-h6: $font-size-base;

//Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/* ------ Borders ------ */

//Border Radius
$border-radius-small: 0.2rem;
$border-radius-medium: 0.6rem;
$border-radius-large: 1rem;

/* ------ Transitions ------ */

$transition-base: all 0.3s ease-in-out;

/* ------ Box-shadow ------ */

$box-shadow-small: 0 0.125rem 0.25rem rgba($black, 0.075);
$box-shadow-medium: 0 0.5rem 1rem rgba($black, 0.15);
$box-shadow-large: 0 1rem 3rem rgba($black, 0.175);
