@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.users__container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  h1 {
    font-size: 3.2rem;
    font-weight: $font-weight-semibold;
  }
}

.add-user__button {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  justify-self: end;

  @include media($breakpoint-md) {
    position: initial;
    bottom: initial;
    left: initial;
    transform: initial;
    width: 13rem;
    margin-left: 3rem;
  }

  @include media($breakpoint-lg) {
    width: 16rem;
  }
}

.users__filter {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  input {
    width: 100%;
    font-size: 1.6rem;
    border: none;
    border-bottom: 1px solid $gray-300;
  }

  @include media($breakpoint-md) {
    grid-template-columns: 1fr auto 1fr;
  }

  @include media($breakpoint-xl) {
    grid-template-columns: 30rem auto auto 1fr;
  }
}

.users__filter__select {
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 1.6rem;
}

.users__count {
  display: none;
  font-weight: $font-weight-regular;
  b {
    margin-left: 0.6rem;
  }
  @include media($breakpoint-xl) {
    display: flex;
  }
}

.users__filter__role-container {
  display: flex;
  margin-left: 3rem;
  align-items: center;
  justify-content: flex-end;
  background: $gray-100;
  padding: 0.4rem 1rem 0.4rem 1rem;
  border-radius: $border-radius-medium;
  cursor: pointer;
  svg {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 0.6rem;
  }

  @include media($breakpoint-md) {
    justify-content: flex-start;
  }

  @include media($breakpoint-lg) {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.users__users-information {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;

  @include media($breakpoint-xxl) {
    flex-direction: row;
    gap: 2rem;
    flex: 1;
  }
}

.users__table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid $gray-300;
  border-radius: $border-radius-medium;
  margin-bottom: 5.6rem;
  flex: 1;
  overflow-y: auto;

  @include media($breakpoint-md) {
    margin-bottom: 3rem;
  }

  @include media($breakpoint-xxl) {
    margin-bottom: 0;
  }
}

.users__user {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  width: 100%;
  padding: 1rem 1.4rem;
  border-bottom: 1px solid $gray-300;

  svg {
    justify-self: end;
    width: 2.2rem;
    height: 2.2rem;
    margin-left: 2rem;
    cursor: pointer;
  }

  @include media($breakpoint-md) {
    grid-template-columns: 30rem 1fr 1fr;
  }
}

.users__user__not-found-message {
  display: flex;
  align-items: center;
  svg {
    color: $red;
    margin: 0;
  }
  p {
    margin-left: 0.6rem;
  }
}

.users__user__main {
  display: flex;
  align-items: center;
}

.users__user__name-container {
  display: flex;
  align-items: center;
  p {
    margin-left: 1.4rem;
  }
}

.users__user__photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $gray-300;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  h3 {
    font-size: 1.6rem;
    font-weight: $font-weight-regular;
  }
}

.users__user__role {
  display: none;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 8rem;
  border-radius: $border-radius-medium;
  font-size: $font-size-h4;
  color: $white;

  @include media($breakpoint-md) {
    display: flex;
  }
}

.users__user__role--blue {
  background: $blue-300;
}

.users__user__role--green {
  background: $green;
}
